.commentSection {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: row;
  margin: .3rem .5rem;
  font-size: .9rem;
  text-align: left;
}

.userName {
  margin: 0 .5rem 0;
  font-weight: 700;
}

.text {
  margin: .1rem ;
  font-weight: 550; 
}