.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: solid 1px lightgray;
}
.logo {
  width: 11rem;
}
nav a img{
  width: 1.2rem;
  margin: 0 .5rem;
  opacity: .4;
}

nav a img:hover {
  opacity: .7;
}