.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: solid 1px lightgray;
}
.logo {
  width: 11rem;
}

nav a {
  color: black;
  font-size: 1.3rem;
}

nav a i {
  width: 1.5rem;
  margin: 0 .5rem;
  opacity: .4;
}

nav a i:hover {
  opacity: .7;
}