.postContainer {
  box-sizing: border-box;
  align-self: center;
  width: 90%;
  margin: 2rem;
  border: 1px solid lightgray;
}

.postImg {
  width: 100%;
}

.thumbnail {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.thumbnailImg {
  border-radius: 100%;
  width: 2.5rem;
  margin: 1rem;
}

.likes {
  text-align: left;
  width: 5rem;
  margin-left: 1rem;
  font-weight: 625;
  margin-top: 0;
}

.likeButton {
  margin-left: 1rem;
  margin-right: 0;
  opacity: .5;
  width: 1.1rem;
}
.likeButton:hover {
  opacity: .7;
}
.clicked {
  color: goldenrod;
  opacity: 1;
}